@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}
body {
	background: url(https://images.pexels.com/photos/3297593/pexels-photo-3297593.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-repeat: no-repeat;
	-ms-overflow-style: none; /*IE and edge*/
	scrollbar-width: none; /*firefox*/
}
body::-webkit-scrollbar {
	/* chrome,safari,IE */
	display: none;
}
h1,
h2 {
	font-size: 45px;
	font-weight: 700;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/*-----header-------*/
#navbar {
	width: 100%;
	background: #dcdcdc;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	border-bottom: 2px solid #fff0f5;

	z-index: 5;
}

.nav-content {
	display: flex;
	align-items: center;

	width: 100%;
}
.nav-content .logo {
	display: flex;
	width: 15%;
}
.nav-content .logo img {
	width: 100%;
}
.nav-content ul {
	display: flex;
	justify-content: flex-end;
	width: 85%;

	font-size: 20px;
	font-weight: 700;

	list-style-type: none;

	padding: 0;
}
.nav-content ul li {
	display: inline-block;

	margin-right: 10px;
}
.nav-content ul li:last-child {
	margin-right: 0;
}
.nav-content ul li a {
	text-decoration: none;

	color: #0000ff;

	transition: 0.5s;
}
.nav-content ul li a:hover {
	color: #000;
}

/*------welcome---------*/
#welcome-section {
	width: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;

	color: #b22222;

	transition: 0.5s ease-in-out all;
}

#welcome-section h1 {
	font-size: 4em;
}

#welcome-section:hover {
	color: #8b0000;
}

/*-----------projects------------*/
#projects {
	display: flex;
	align-items: center;

	min-height: 100vh;

	padding: 40px 0;

	background: #2f4f4f;
}
#projects .project-title {
	padding: 75px 0 30px 0;

	color: #fff;

	text-align: center;
}
#projects .cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}
#projects .cards .card {
	display: block;

	width: 100%;

	position: relative;

	transition: 1.5s ease-in-out 0.2s;
	
	position: relative;
}
#projects .card:hover {
	transform: rotate3d(0, 1, 0.5, 1turn);
	
}
#projects .cards .card img {
	width: 100%;
	min-height: 300px;
	height: 100%;

	border-radius: 6px;
}
#projects .cards .card figcaption {
	position: absolute;

	z-index: 2;

	color: #fff;

	font-size: 20px;

	bottom: 0;

	margin: 0 auto;

	padding: 10px 0;

	text-align: center;

	width: 100%;

	background: rgba(0, 0, 0, 0.9);
}
/*-----contact--------*/
#contact {
	color: #000;
	display: flex;

	min-height: 80vh;
	align-items: center;
	text-align: center;
}

#contact h2 {
	margin-bottom: 0;
	font-weight: 700;

	transition: all 0.5s ease-in-out;
}
#contact p {
	font-size: 20px;
	font-weight: 600;

	transition: all 0.5s ease-in-out;
}

#contact:hover h2 {
	background: rgb(255, 166, 2);

	border-radius: 20px;
	padding: 10px 20px;
}

#contact:hover p {
	transform: translateY(10px);
}
#contact ul {
	padding: 0;

	list-style-type: none;

	font-size: 30px;

	width: 100%;
}
#contact ul li {
	display: inline-block;

	margin: 20px 40px 15px 0;

	transition: all 0.5s ease-in-out;
}
#contact ul li:last-child {
	margin-right: 0;
}
#contact ul li a {
	text-decoration: none;

	color: #171f1f;

	font-weight: 500;
}
#contact ul li:hover {
	background: #fff;

	border-radius: 20px;

	padding: 10px 20px;
}
/*-----footer--------*/
footer {
	width: 100%;
	background: #fff;
	border-top: 2px solid #8cc6c7;
}
footer .footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
  
	min-height: 10vh;
}
footer .footer-content .logo {
	min-width: 80px;
	margin-right: 20px;
}
footer .footer-content .logo img {
	width: 100%;
}
/*-----media query------*/
@media (min-width: 400px) {
	.nav-content .logo {
		width: 10%;
	}
}
@media (min-width: 600px) {
	.nav-content ul {
		font-size: 24px;
	}
	.nav-content ul li a {
		padding: 39px;
	}
	.nav-content ul li a:hover {
		background: #fffafa;
		color: #4169e1;
	}
	#projects .cards {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 900px) {
	#projects .cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
